doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title title

        style.
            *{margin: 0;padding: 0;}
            
        link(href="${relativePath}/static/css/cropping.css",rel="stylesheet")
    body
        div.cropping-box
            div.img-wrap
                span
                img(src="${relativePath}/static/imgs/2.png")
            div.cover-wrap
                div.cover.top
                div.cover.left
                div.center
                    div.border.border-top
                    div.border.border-left
                    div.border.border-right
                    div.border.border-bottom
                div.cover.right
                div.cover.bottom

        script(src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js")
        script(src="${relativePath}/static/js/jquery.mousewheel.min.js")
        script(src="${relativePath}/static/js/jquery.intcss.js")
        script(src="${relativePath}/static/js/jquery.drap.js")
        script(src="${relativePath}/static/js/jquery.zoom.js")
        script.
            $(function() {
                $(".cropping-box").on("selectstart", function() {return false;});
                var img = $('div.img-wrap img');
                img.css({
                    position:"absolute",
                    top:"50%",
                    left:"50%",
                    marginTop:-img.intCss("height")/2,
                    marginLeft:-img.intCss("width")/2
                }).prev().remove();
            });
            $("div.center").drap({
                context: $(".cropping-box .img-wrap"),
                start: function(event) {
                    this.attr("data-top", this.intCss("top"));
                    this.attr("data-left", this.intCss("left"));
                },
                move: function(event) {
                    this.css({
                        top: parseInt(this.attr("data-top")) + event.top,
                        left: parseInt(this.attr("data-left")) + event.left
                    });
                }
            }).mousewheel(function(event, delta) {
                if(delta > 0) {
                    $('div.img-wrap img').zoom(0.1);
                } else {
                    $('div.img-wrap img').zoom(-0.1);
                }
            });
