doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title title

        style.
            *{margin: 0;padding: 0;}
            .cropping-btn-warp{text-align: center;}
            .cropping-btn-warp canvas{border: 1px solid #ccc;}
            
        link(href="${relativePath}/static/css/cropping.css",rel="stylesheet")
    body
        div.cropping-box
            div.img-wrap
                span
                img(src="${relativePath}/static/imgs/1.png")
            div.cover-wrap
                div.cover.top
                div.cover.left
                div.center
                    div.border.border-top
                    div.border.border-left
                    div.border.border-right
                    div.border.border-bottom
                div.cover.right
                div.cover.bottom
        div.cropping-btn-warp
            a(href="javascript:;" onclick="cropping()") 裁剪
            br
            canvas(id="canvas",width="350",height="350")

        script(src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js")
        script(src="${relativePath}/static/js/jquery.mousewheel.min.js")
        script(src="${relativePath}/static/js/jquery.intcss.js")
        script(src="${relativePath}/static/js/jquery.drap.js")
        script(src="${relativePath}/static/js/jquery.zoom.js")
        script.
            $(function() {
                $(".cropping-box").on("selectstart", function() {return false;});
                var img = $('div.img-wrap img');
                img.css({
                    position:"absolute",
                    top:"50%",
                    left:"50%",
                    marginTop:-img.intCss("height")/2,
                    marginLeft:-img.intCss("width")/2
                }).prev().remove();
            });
            
            $("div.center").drap({
                context: $(".cropping-box .img-wrap"),
                start: function(event) {
                    this.attr("data-top", this.intCss("top"));
                    this.attr("data-left", this.intCss("left"));
                },
                move: function(event) {
                    this.css({
                        top: parseInt(this.attr("data-top")) + event.top,
                        left: parseInt(this.attr("data-left")) + event.left
                    });
                }
            }).mousewheel(function(event, delta) {
                if(delta > 0) {
                    $('div.img-wrap img').zoom(0.1);
                } else {
                    $('div.img-wrap img').zoom(-0.1);
                }
            });
            
            function cropping() {
                var img = $("div.img-wrap img");
                var imgTop = img.intCss("top") + img.intCss("marginTop") + (img.parent().intCss("top") || 0);
                var imgLeft = img.intCss("left") + img.intCss("marginLeft") + (img.parent().intCss("left") || 0);
                var winTop = $("div.cover.top").intCss("height");
                var winLeft = $("div.cover.left").intCss("width");
                var imgX = winLeft - imgLeft;
                var imgY = winTop - imgTop;
                var canvas = document.getElementById("canvas");
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = "#000";
                ctx.fillRect(0, 0, 350, 350);
                ctx.drawImage(img[0], imgX, imgY, 350, 350, 0, 0, 350, 350);
                 
            }
